# Временные файлы и переменные окружения (КРИТИЧНО)
.env
.env.*
*.env

# Скомпилированные бинарники и исполняемые файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
my-tg-bot
main

# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo

# Файлы логов
*.log

# Ключи, сертификаты и сервисные аккаунты
*.pem
*.key
*.json